<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/foundation-sites/dist/foundation.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/react/react.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/react/react-dom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/app.bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>
